@import '../index.scss';

.reset-container {
    padding: 32px 22px 24px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    #reset {
        height: 48px;
        width: 100%;
        border-style: none;
        background-color: var(--strong-cyan);
        color: var(--very-dark-cyan);
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        border-radius: 5px;
        cursor: pointer;
    }

    #reset:hover {
        background-color: var(--soft-mint-green);
    }
}