@import './index.scss';

#root {
    height: 100vh;

    .App {
        width: 100%;
        height: auto;
        background-color: var(--light-grayish-cyan);
        display: flex;
        flex-direction: column;

        .logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px 144px 40.86px 144px;
        }

        .calculator-container {
            padding-bottom: 32px;
            height: 100%;
            border-radius: 25px 25px 0 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--white);

            .calculate-section{

                .bill-section {
                    width: 100%;
                }

                .tip-section {
                    width: 100%;
                }

                .people-section {
                    width: 100%;
                }
            }

            .display-section {
                width: 100%;

                .inner {
                    margin: 0 24px;
                    background-color: var(--very-dark-cyan);
                    border-radius: 15px;
                }
            }
        }
    }
}

///////////////////////////////

@media (min-width: 500px) and (max-width: 699px) {
    #root {
        height: 100vh;
        background-color: var(--light-grayish-cyan);
        display: flex;
        justify-content: center;
        align-items: center;

        .App {
            width: 98vw;
            height: auto;
            background-color: var(--light-grayish-cyan);
            display: flex;
            flex-direction: column;

            .logo-container {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 0 64.36px 0;
            }

            .calculator-container {
                padding: 0;
                height: 100%;
                border-radius: 25px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 20px;
                background-color: var(--white);

                .calculate-section{

                    .bill-section {
                        width: 100%;
                    }

                    .tip-section {
                        width: 100%;
                    }

                    .people-section {
                        width: 100%;
                    }
                }

                .display-section {
                    width: 180px;
                    margin: 32px 32px 32px 0;
                    background-color: var(--very-dark-cyan);
                    border-radius: 15px;

                    .inner {
                        margin: 35px 30px;
                        width: auto;
                        background-color: var(--very-dark-cyan);
                    }
                }
            }
        }
    }
}

///////////////////////////////

@media (min-width: 700px) and (max-width: 920px) {
    #root {
        height: 100vh;
        background-color: var(--light-grayish-cyan);
        display: flex;
        justify-content: center;
        align-items: center;

        .App {
            width: 98vw;
            height: auto;
            background-color: var(--light-grayish-cyan);
            display: flex;
            flex-direction: column;

            .logo-container {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 0 64.36px 0;
            }

            .calculator-container {
                padding: 0;
                height: 100%;
                border-radius: 25px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 20px;
                background-color: var(--white);

                .calculate-section{

                    .bill-section {
                        width: 100%;
                    }

                    .tip-section {
                        width: 100%;
                    }

                    .people-section {
                        width: 100%;
                    }
                }

                .display-section {
                    width: 600px;
                    margin: 32px 32px 32px 0;
                    background-color: var(--very-dark-cyan);
                    border-radius: 15px;

                    .inner {
                        margin: 35px 30px;
                        width: auto;
                        background-color: var(--very-dark-cyan);
                    }
                }
            }
        }
    }
}

///////////////////////////////

@media (min-width: 920px) {
    #root {
        height: 100vh;
        background-color: var(--light-grayish-cyan);
        display: flex;
        justify-content: center;
        align-items: center;

        .App {
            width: 920px;
            height: auto;
            background-color: var(--light-grayish-cyan);
            display: flex;
            flex-direction: column;

            .logo-container {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 0 87.86px 0;
            }

            .calculator-container {
                padding: 0;
                height: 100%;
                border-radius: 25px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 48px;
                background-color: var(--white);

                .calculate-section{

                    .bill-section {
                        width: 100%;
                    }

                    .tip-section {
                        width: 100%;
                    }

                    .people-section {
                        width: 100%;
                    }
                }

                .display-section {
                    width: 100%;
                    margin: 32px 32px 32px 0;
                    background-color: var(--very-dark-cyan);
                    border-radius: 15px;

                    .inner {
                        margin: 56px 40px 40px 40px;
                        width: auto;
                        background-color: var(--very-dark-cyan);
                    }
                }
            }
        }
    }
}