@import './index.scss';

#root {
    height: 100vh;

    .App {
        width: 100%;
        height: 100%;
        background-color: var(--light-grayish-cyan);
        display: flex;
        flex-direction: column;

        .logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px 144px 40.86px 144px;
        }

        .calculator-container {
            padding-bottom: 32px;
            height: 100%;
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--white);

            .display-container {
                background-color: var(--very-dark-cyan);
                border-radius: 15px;
                width: 327px;
            }
        }
    }
}